<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SelTest.JsonFileRead"/>
      <class name="SelTest.StringFileRead"/>
      <class name="SelTest.Checkbox"/>
       <class name="SelTest.Images"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
